# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. NumPY
3. Matplotlib
4. ggplot2

|Data Science Tools|
| ------ |
|Apache Spark|
|Tableau|
|mySQL Workbench|
|Github|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
z = 4 ** 2
print(z*2)

32

In [4]:
y = 4 + 5 + 3 + 2 + 1
Z = y // 2
print(Z)

7

In [5]:
m = 4 % 3
print(m ** 3)

1

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by diving by 60
z = 200/60
print("200 minutes equals " + str(round(z)) + " hours")

200 minutes equals 3 hours

**Objectives:**
Some of the commonly used libraries used by Data Scientists include:
* Seaborn
* NumPY
* Matplotlib
* ggplot2

## Author
EJP